<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ShouldLog" value="True"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="NostradamusRemote" connectionString="Data Source=LAPTOP-LE4MQKM2\SQLEXPRESS;Initial Catalog=Nostradamus2;Integrated Security=True"/>-->
    <add name="NostradamusLocal" connectionString="Data Source=LAPTOP-LE4MQKM2;Initial Catalog=Nostradamus2;Integrated Security=True"/>
    <!--<add name="NostraGeneralRemote" connectionString="Data Source=LAPTOP-LE4MQKM2\SQLEXPRESS;Initial Catalog=SNGeneral;Integrated Security=True"/>-->
    <add name="NostraGeo" connectionString="Data Source=LAPTOP-LE4MQKM2;Initial Catalog=NostraGeo;Integrated Security=True"/>

  </connectionStrings>
</configuration>